.bar{
    display: flex;
    padding: 64px 165px;
    flex-direction: column;
    align-items:center;
    gap: 48px;
}
.section-heading{
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.section-heading{
    background: #FFFf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.897);
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Heading / H2 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
} 

.h2{
    width: 540px;
    
}

.p{
    align-self: stretch;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Lead / Lead 1 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */

}
.feature-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    column-gap: 100cm;
    row-gap: 220px;
}
.nav{
    width: 1,110px;
   height: 148px;
    display:flex;
    align-items: center;
    gap: 30px;
}
.details{
    width: 350px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}
.h5{
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.details-one{
    width: 350px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.feature-page{
    width: 350px;
    height: 148px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}
.endbar{
    width: 350px;
    height: 148px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}
.h5{
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    
}
.details-thre{
    width: 350px;
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    
    /* Body / Body 1 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.rowtwo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.fivebar{
    width: 350px;
    height: 148px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.h5{
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.sixbar{
    width: 350px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}
h5{
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
.sevenbar{
    width: 350px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
}
.h5{
    color: var(--text-gray-900, #18191F);
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;

    /* Heading / H5 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}
